<h3>Add Comment</h3>
<div class='well' >
<%= form_for([@post, @post.comments.build]) do |f| %>
	<p>
		<%= f.label :username %><br>
		<%= f.text_field(:username, {:class => 'form-control new-input'}) %>
	</p>
		<%= f.label :body %><br>
		<%= f.text_area(:body, { :class => 'form-control new-input resizeArea', rows: 5}) %>
	<br>
	<p>
		<%= f.submit({:class => 'btn btn-default'}) %>
	</p>
<% end %>
</div> 